.form {
    width: 7oopx;
    background:
    linear-gradient(135deg, #D90088 21px, #ffffff 22px, #ffffff 24px, transparent 24px, transparent 67px, #ffffff 67px, #ffffff 69px, transparent 69px),
    linear-gradient(225deg, #D90088 21px, #ffffff 22px, #ffffff 24px, transparent 24px, transparent 67px, #ffffff 67px, #ffffff 69px, transparent 69px)0 64px;
    background-color:#D90088;
    background-size: 64px 128px;
}